################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExerciseWebAppSneatUI/bin
/ExerciseWebAppSneatUI/ExerciseWebAppSneatUI.csproj.user
/ExerciseWebAppSneatUI/obj
